/** menu icons **/
.icon-16-archive 		{ background: url(../images/menu/icon-16-archive.png) left no-repeat; }
.icon-16-article 		{ background: url(../images/menu/icon-16-article.png) left no-repeat; }
.icon-16-category 		{ background: url(../images/menu/icon-16-category.png) left no-repeat; }
.icon-16-checkin 		{ background: url(../images/menu/icon-16-checkin.png) left no-repeat; }
.icon-16-component		{ background: url(../images/menu/icon-16-component.png) left no-repeat; }
.icon-16-config 		{ background: url(../images/menu/icon-16-config.png) left no-repeat; }
.icon-16-content 		{ background: url(../images/menu/icon-16-content.png) left no-repeat; }
.icon-16-cpanel 		{ background: url(../images/menu/icon-16-cpanel.png) left no-repeat; }
.icon-16-default 		{ background: url(../images/menu/icon-16-default.png) left no-repeat;}
.icon-16-frontpage 		{ background: url(../images/menu/icon-16-frontpage.png) left no-repeat;}
.icon-16-help			{ background: url(../images/menu/icon-16-help.png) left no-repeat;}
.icon-16-info 			{ background: url(../images/menu/icon-16-info.png) left no-repeat;}
.icon-16-install 		{ background: url(../images/menu/icon-16-install.png) left no-repeat;}
.icon-16-language 		{ background: url(../images/menu/icon-16-language.png) left no-repeat;}
.icon-16-logout 		{ background: url(../images/menu/icon-16-logout.png) left no-repeat;}
.icon-16-massmail 		{ background: url(../images/menu/icon-16-massmail.png) left no-repeat;}
.icon-16-media 			{ background: url(../images/menu/icon-16-media.png) left no-repeat;}
.icon-16-menu 			{ background: url(../images/menu/icon-16-menu.png) left no-repeat;}
.icon-16-menumgr 		{ background: url(../images/menu/icon-16-menumgr.png) left no-repeat;}
.icon-16-messages 		{ background: url(../images/menu/icon-16-messages.png) left no-repeat;}
.icon-16-module 		{ background: url(../images/menu/icon-16-module.png) left no-repeat;}
.icon-16-plugin 		{ background: url(../images/menu/icon-16-plugin.png) left no-repeat;}
.icon-16-section 		{ background: url(../images/menu/icon-16-section.png) left no-repeat;}
.icon-16-static 		{ background: url(../images/menu/icon-16-static.png) left no-repeat;}
.icon-16-stats 			{ background: url(../images/menu/icon-16-stats.png) left no-repeat;}
.icon-16-themes 		{ background: url(../images/menu/icon-16-themes.png) left no-repeat;}
.icon-16-trash 			{ background: url(../images/menu/icon-16-trash.png) left no-repeat;}
.icon-16-user 			{ background: url(../images/menu/icon-16-user.png) left no-repeat; }
.icon-16-cpanel 		{ background: url(../images/menu/icon-16-cpanel.png) left no-repeat;}
.icon-16-profile 		{ background: url(../images/menu/icon-16-user.png) left no-repeat;}
.icon-16-config 		{ background: url(../images/menu/icon-16-config.png) left no-repeat;}
.icon-16-info 			{ background: url(../images/menu/icon-16-info.png) left no-repeat;}
.icon-16-logout 		{ background: url(../images/menu/icon-16-logout.png) left no-repeat;}
.icon-16-groups 		{ background: url(../images/menu/icon-16-groups.png) left no-repeat;}
.icon-16-article 		{ background: url(../images/menu/icon-16-article.png) left no-repeat;}
.icon-16-newarticle 	{ background: url(../images/menu/icon-16-newarticle.png) left no-repeat;}
.icon-16-category 		{ background: url(../images/menu/icon-16-category.png) left no-repeat;}
.icon-16-section 		{ background: url(../images/menu/icon-16-section.png) left no-repeat;}
.icon-16-trash 			{ background: url(../images/menu/icon-16-trash.png) left no-repeat;}
.icon-16-comment		{ background: url(../images/menu/comment.png) left no-repeat;}
.icon-16-contact 		{ background: url(../images/menu/icon-16-contacts.png) left no-repeat;}
.icon-16-levels 		{ background: url("../images/menu/icon-16-levels.png") left no-repeat;}
.icon-16-readmess 		{ background: url("../images/menu/icon-16-readmess.png") left no-repeat;}
.icon-16-maintenance 	{ background: url("../images/menu/icon-16-maintenance.png") left no-repeat;}
.icon-16-thanhtoan 		{ background: url("../images/menu/icon-16-thanhtoan.png") left no-repeat;}
.icon-16-note 			{ background: url("../images/menu/icon-16-note.png") left no-repeat;}
.icon-16-comment 		{ background: url("../images/menu/icon-16-comment.png") left no-repeat;}
.icon-16-currency 		{ background: url("../images/menu/icon-16-currency.png") left no-repeat;}
.icon-16-voting			{ background: url("../images/menu/icon-16-writemess.png") left no-repeat;}
.icon-16-weblinks		{ background: url("../images/menu/icon-16-links.png") left no-repeat;}
.icon-16-weblinks-cat	{ background: url("../images/menu/icon-16-links-cat.png") left no-repeat;}
.icon-16-banners		{ background: url("../images/menu/icon-16-banner.png") left no-repeat;}
.icon-16-banners-cat	{ background: url("../images/menu/icon-16-banner-categories.png") left no-repeat;}
.icon-16-back-user		{ background: url("../images/menu/icon-16-back-user.png") left no-repeat;}
.icon-16-cart			{ background: url("../images/menu/icon-16-cart.png") left no-repeat;}
.icon-16-money			{ background: url("../images/menu/icon-16-money.png") left no-repeat;}
.icon-16-contacts-categories	{ background: url("../images/menu/icon-16-contacts-categories.png") left no-repeat;}
.icon-16-help-forum		{ background: url("../images/menu/icon-16-help-forum.png") left no-repeat;}


/** toolbar icons **/
.icon-32-send 			{ background-image: url(../images/toolbar/icon-32-send.png); }
.icon-32-delete 		{ background-image: url(../images/toolbar/icon-32-delete.png); }
.icon-32-help 			{ background-image: url(../images/toolbar/icon-32-help.png); }
.icon-32-cancel 		{ background-image: url(../images/toolbar/icon-32-cancel.png); }
.icon-32-config 		{ background-image: url(../images/toolbar/icon-32-config.png); }
.icon-32-apply 		{ background-image: url(../images/toolbar/icon-32-apply.png); }
.icon-32-back			{ background-image: url(../images/toolbar/icon-32-back.png); }
.icon-32-forward		{ background-image: url(../images/toolbar/icon-32-forward.png); }
.icon-32-save 			{ background-image: url(../images/toolbar/icon-32-save.png); }
.icon-32-edit 			{ background-image: url(../images/toolbar/icon-32-edit.png); }
.icon-32-copy 			{ background-image: url(../images/toolbar/icon-32-copy.png); }
.icon-32-move 			{ background-image: url(../images/toolbar/icon-32-move.png); }
.icon-32-new 			{ background-image: url(../images/toolbar/icon-32-new.png); }
.icon-32-upload 		{ background-image: url(../images/toolbar/icon-32-upload.png); }
.icon-32-assign 		{ background-image: url(../images/toolbar/icon-32-publish.png); }
.icon-32-html 			{ background-image: url(../images/toolbar/icon-32-html.png); }
.icon-32-css 			{ background-image: url(../images/toolbar/icon-32-css.png); }
.icon-32-menus 			{ background-image: url(../images/toolbar/icon-32-menu.png); }
.icon-32-publish 		{ background-image: url(../images/toolbar/icon-32-publish.png); }
.icon-32-unpublish 	{ background-image: url(../images/toolbar/icon-32-unpublish.png);}
.icon-32-restore		{ background-image: url(../images/toolbar/icon-32-revert.png); }
.icon-32-trash 		{ background-image: url(../images/toolbar/icon-32-trash.png); }
.icon-32-archive 		{ background-image: url(../images/toolbar/icon-32-archive.png); }
.icon-32-unarchive 	{ background-image: url(../images/toolbar/icon-32-unarchive.png); }
.icon-32-preview 		{ background-image: url(../images/toolbar/icon-32-preview.png); }
.icon-32-default 		{ background-image: url(../images/toolbar/icon-32-default.png); }

/** header icons **/
.icon-48-generic 		{ background-image: url(../images/header/icon-48-generic.png); }
.icon-48-checkin 		{ background-image: url(../images/header/icon-48-checkin.png); }
.icon-48-cpanel 		{ background-image: url(../images/header/icon-48-cpanel.png); }
.icon-48-config 		{ background-image: url(../images/header/icon-48-config.png); }
.icon-48-module 		{ background-image: url(../images/header/icon-48-module.png); }
.icon-48-menu 			{ background-image: url(../images/header/icon-48-menu.png); }
.icon-48-menumgr 		{ background-image: url(../images/header/icon-48-menumgr.png); }
.icon-48-trash 			{ background-image: url(../images/header/icon-48-trash.png); }
.icon-48-groups			{ background-image: url(../images/header/icon-48-groups.png); }
.icon-48-user	 		{ background-image: url(../images/header/icon-48-user.png); }
.icon-48-inbox 			{ background-image: url(../images/header/icon-48-inbox.png); }
.icon-48-msgconfig 		{ background-image: url(../images/header/icon-48-message_config.png); }
.icon-48-langmanager 	{ background-image: url(../images/header/icon-48-language.png); }
.icon-48-mediamanager	{ background-image: url(../images/header/icon-48-media.png); }
.icon-48-plugin 		{ background-image: url(../images/header/icon-48-plugin.png); }
.icon-48-help_header 	{ background-image: url(../images/header/icon-48-help_header.png); }
.icon-48-impressions 	{ background-image: url(../images/header/icon-48-stats.png); }
.icon-48-browser 		{ background-image: url(../images/header/icon-48-stats.png); }
.icon-48-searchtext 	{ background-image: url(../images/header/icon-48-stats.png); }
.icon-48-thememanager	{ background-image: url(../images/header/icon-48-themes.png); }
.icon-48-massemail 		{ background-image: url(../images/header/icon-48-massemail.png); }
.icon-48-frontpage 		{ background-image: url(../images/header/icon-48-frontpage.png); }
.icon-48-sections 		{ background-image: url(../images/header/icon-48-section.png); }
.icon-48-addedit 		{ background-image: url(../images/header/icon-48-article-add.png); }
.icon-48-article 		{ background-image: url(../images/header/icon-48-article.png); }
.icon-48-categories 	{ background-image: url(../images/header/icon-48-category.png); }
.icon-48-install 		{ background-image: url(../images/header/icon-48-extension.png); }
.icon-48-dbbackup		{ background-image: url(../images/header/icon-48-backup.png); }
.icon-48-dbrestore 		{ background-image: url(../images/header/icon-48-dbrestore.png); }
.icon-48-dbquery 		{ background-image: url(../images/header/icon-48-query.png); }
.icon-48-systeminfo 	{ background-image: url(../images/header/icon-48-info.png); }
.icon-48-massemail 		{ background-image: url(../images/header/icon-48-massmail.png); }
.icon-48-notice 		{ background-image: url(../images/header/icon-48-notice.png); }
.icon-48-content 		{ background-image: url(../images/header/icon-48-content.png); }
.icon-48-stats 			{ background-image: url(../images/header/icon-48-stats.png); }
.icon-48-readmess		{ background-image: url(../images/header/icon-48-readmess.png); }
.icon-48-component		{ background-image: url(../images/header/icon-48-component.png); }
.icon-48-money			{ background-image: url(../images/header/icon-48-money.png); }
.icon-48-cart			{ background-image: url(../images/header/icon-48-cart.png); }
.icon-48-comment		{ background-image: url(../images/header/icon-48-comment.png); }
.icon-48-contacts		{ background-image: url(../images/header/icon-48-contacts.png); }
.icon-48-contacts-categories	{ background-image: url(../images/header/icon-48-contacts-categories.png); }
.icon-48-categories-media	{ background-image: url(../images/header/icon-48-category-media.png); }
.icon-48-user-profile	{ background-image: url(../images/header/icon-48-user-profile.png); }
.icon-48-links			{ background-image: url(../images/header/icon-48-links.png); }
.icon-48-help-forum		{ background-image: url(../images/header/icon-48-help-forum.png); }
.icon-48-banner			{ background-image: url(../images/header/icon-48-banner.png); }
.icon-48-levels			{ background-image: url(../images/header/icon-48-levels.png); }



