@charset "utf-8";

/* System */
body,p,table,tr,td,dt,dl,form,h1,h2,h3,h4,h5,h6,h7,textarea{ margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; font-size:12px;}
a, a:link, a:visited {color: #025A8D;text-decoration:none;}
a:hover, a:active, a:focus{color:#333333;}
img{ border:0 none;}
table{ border-collapse:collapse; color: #333;}
input {background: #FFFFFF;border: 1px solid #CCC;font-size: 11px; padding: 2px; color: #333;}
select {border: 1px solid #CCC;font-size: 11px;padding: 2px 3px 2px 2px; color: #333;}
button {background: #FFFFFF;border: 1px solid #CCCCCC;font-size: 11px;padding: 2px 5px 2px;text-decoration: none;}
button:hover {background: #E8F6FE;cursor: pointer;}
input:focus,select:focus,textarea:focus, input.active {background-color: #ffd;}
textarea{ background: #FFFFFF;border: 1px solid #CCCCCC;font-size: 11px;padding: 3px; color: #333;}
legend {color: #146295;font-size: 14px;font-weight: bold;}

.body{ padding: 10px;}
.content{border: 1px solid #CCCCCC;border-top:none;padding: 10px;}

/* Block Top */
.block_top {background: url(../images/h_green/j_header_middle.png) repeat-x;height:54px;}
.block_top .title {font-size: 20px;font-weight: bold;color: #fff;line-height: 55px;padding-left: 20px;}
.block_top .version {display: block;float: right;color: #fff;padding: 25px 15px 0 0;}

/* Block Main Menu */
.block_mainMenu {background:#F0F0F0;border: 1px solid #CCCCCC;}
.ddsubmenustyle, .ddsubmenustyle div{ margin: 0;padding: 0;position: absolute;left: 0;top: 0;list-style-type: none;border-bottom-width: 0;visibility: hidden;z-index: 100;}
.ddsubmenustyle ul{margin: 0;padding: 0;position: absolute;left: 0;top: 0;list-style-type: none;border: 0px none;background: url(../images/menu/bg-menu.gif) repeat-y left center #F6F6F6;border: 0.1em solid #CCCCCC;}
.ddsubmenustyle li a{display: block;color: #333;font-size: 12px;font-weight: normal;line-height: 1.2em;white-space: nowrap;margin: 0 1px;padding: 6px 25px 6px 25px;text-decoration: none;vertical-align: middle;}
.ddsubmenustyle li.separator {background: url(../images/menu/bg-menu.gif) #DDE1E6;height: 1px;}
* html .ddsubmenustyle li{ display: inline-block;width: 170px;}
.ddsubmenustyle li a:hover{background-color: #DBE4E9;border:#025A8D;}
.ddsubmenustyle li:hover{background-color: #DBE4E9;}
.downarrowpointer{ padding-left: 4px;border: 0; display:none;}
.rightarrowpointer{position: absolute;padding-top: 3px;left: 100px;border: 0;}
.ddsubmenustyle img{}
.ddiframeshim{position: absolute;z-index: 500;background: transparent;border-width: 0;width: 0;height: 0;display: block;}
.mattblackmenu{ margin-left:1px; float:left;}
.mattblackmenu ul{margin: 0;padding: 0;list-style-type: none;background: #F0F0F0;overflow: hidden;width: 100%;}
.mattblackmenu li{display: inline;margin: 0;}
.mattblackmenu li a{float: left;display: block;text-decoration: none;margin: 0;padding: 6px 10px;color: #333;border-left: 1px solid #FFFFFF;border-right: 1px solid #D8D8D8;font-weight:bold;font-size:12px;}
.mattblackmenu li a:visited{color: #333;}
.mattblackmenu li a:hover{background: #DBE4E9;border-left:1px solid #025A8D;border-right:1px solid #025A8D;}
.mattblackmenu a.selected{background: #DBE4E9;border-left:1px solid #025A8D;border-right:1px solid #025A8D;}
.markermenu{width: 175px;clear: left;position: relative;}
.markermenu ul{list-style-type: none;margin: 5px 0;padding: 0;border: 1px solid #9A9A9A;}
.markermenu ul li a{background: #F2F2F2 url(../images/menu/bulletlist.gif) no-repeat 3px center;font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;color: #00014e;display: block;width: auto;padding: 3px 0;padding-left: 20px;text-decoration: none;border-bottom: 1px solid #B5B5B5;}
* html .markermenu ul li a{ /*IE6 hack*/width: 155px;}
.markermenu ul li a:visited, .markermenu ul li a:active{color: #00014e;}
.markermenu ul li a:hover, .markermenu ul li a.selected{color: white;background-color: black;}
.blackwhite li a{background: white;}
.blackwhite li a:hover{background: black;color: white;}

/* Block Status */
.block_status {float: right;}
.block_status span {display: block;float: left;line-height: 16px;padding: 6px 10px 0 22px;margin-bottom: 5px;}
.block_status .legacy-mode {color: #c00;}
.block_status .preview {background: url(../images/menu/icon-16-media.png) 3px 5px no-repeat;}
.block_status .unread-messages,.block_status .no-unread-messages {background: url(../images/menu/icon-16-messages.png) 3px 5px no-repeat;}
.block_status .unread-messages a {font-weight: bold;}
.block_status .loggedin-users {background: url(../images/menu/icon-16-user.png) 3px 5px no-repeat;}
.block_status .logout {background: url(../images/menu/icon-16-logout.png) 3px 5px no-repeat;}

/* Block Toolbar */ 
.block_toolbar {background: #F4F4F4;margin-bottom: 10px; padding: 5px 0; border: 1px solid #CCCCCC;}
.block_toolbar .toolbar {float: right;text-align: right;padding: 0;}
.block_toolbar .divider {border-right: 1px solid #C7C7C7;width: 2px;float: left;color: #666666;text-align: center;margin-right: 5px;display: block;height: 50px;}
.block_toolbar .header {background-repeat: no-repeat;color: #0B55C4;font-size: 22px;font-weight: bold;line-height: 48px;margin-left: 10px;padding-left: 55px;}
.block_toolbar .toolbar-button {float: left;color: #666666;text-align: center;margin-right: 5px;}
.block_toolbar .toolbar-button a{border: 1px solid #F4F4F4;cursor: pointer;display: block;float: left;padding: 1px 5px;white-space: nowrap;font-size: 11px;}
.block_toolbar .toolbar-button a:hover, .toolbar-button a:focus, .toolbar-button a:active {border-color: #EEEEEE #CCCCCC #CCCCCC #EEEEEE;border-left: 1px solid #EEEEEE;border-style: solid;border-width: 1px;color: #0B55C4;text-decoration: none;}
.block_toolbar span {display: block;float: none;height: 32px;margin: 0 auto;width: 32px;}

/* Block SubMenu */
.block_subMenu {background: #F4F4F4;margin-bottom: 10px; padding: 5px; border: 1px solid #CCCCCC;}
.block_subMenu ul {list-style: none;padding: 0;margin: 0;}
.block_subMenu ul li {float: left;padding: 0;margin: 0;}
.block_subMenu ul li a{cursor: pointer;padding: 0px 15px;border-right: 1px solid #ccc;font-weight: bold;color: #0B55C4;line-height: 12px;height: 12px;}
.block_subMenu ul li a:hover{color: #FF8B00;}
.block_subMenu ul li a.active{color: #000;}

/* app_content */
.app_content {background: #F4F4F4;margin-bottom: 10px; padding: 10px; border: 1px solid #CCCCCC;}

/* Block Filter */
.block_filter{ padding-bottom: 5px;}
.block_filter input{float: left; margin-right: 5px;}

/* Footer */
.footer .copyright {padding: 10px;text-align: center;}

.adminlist {width: 100%;border-spacing: 1px;background-color: #e7e7e7; border: 1px solid #e7e7e7; color: #333;}
.adminlist th {padding: 4px;text-align: center;background: #f0f0f0;color: #4973d7;border-bottom: 1px solid #999;border-left: 1px solid #fff; font-weight: bold; border-top: 1px solid #e7e7e7;}
.adminlist tr {background-color: #fff;text-align: left;}
.adminlist tr td {background: #fff;border: 1px solid #EFEFEF; padding: 4px; height: 25px;}
.adminlist tr.row1 td {background: #f9f9f9;}
.adminlist tr.row0:hover td,.adminlist tr.row1:hover td{background-color: #E8F6FE;}
.adminlist tr.tbl_footer {text-align: center;color: #333;}
.adminlist tr.tbl_footer td{padding: 0;}
.adminlist tr.tbl_footer .container{padding: 5px;margin: 0 auto;border-top: 1px solid #CCC;background: #ffffff;}
.adminlist .smallsub {color: #999999;font-size: 11px;margin: 3px 0 0;}
.adminlist input {font-size: 11px;}

.adminform {background: #FFFFFF;border: 1px solid #CCCCCC;margin:0;padding: 10px; margin-bottom: 10px;}

.adminformlist{list-style: none outside none;margin: 0; padding: 0; width: 100%;}
.adminformlist td{ padding: 4px; color: #000; height: 19px;}
.adminformlist li {margin: 0;padding: 5px 0;}
.adminformlist .form_title{width: 140px; vertical-align: top; padding-top: 8px;}
.adminformlist .desc {color: #999999;font-size: 11px; padding-top: 2px; display: inline-block;}
.adminformlist .textarea {width: 99%; font-size:11px;}
.adminformlist .txtalong {width: 398px;}
.adminformlist .hinh-anh {width: 100px;}
.adminformlist .multi_image {width: 99%; max-height: 300px !important; cursor: pointer;}

.panelformlist{list-style: none outside none;margin: 0; padding: 0; width: 100%;}
.panelformlist td{ padding: 4px; color: #000; height: 19px;}
.panelformlist li {margin: 0;padding: 5px 0;}
.panelformlist .form_title{width: 120px; vertical-align: top; padding-top: 8px;}
.panelformlist .desc {color: #999999;font-size: 11px; padding-top: 2px; display: inline-block;}
.panelformlist .textlong {width: 99.5%;}
.panelformlist .txtalong {width: 99%;}

.pane-sliders{margin-top: 2px;}
.pane-sliders .panel {margin-bottom: 5px;border: solid 1px #CCC;}
.pane-sliders .panel .title{background: #FAFAFA;color: #666; height: 22px; line-height: 22px;}
.pane-sliders .panel_content{border-top: solid 1px #CCC;}
.pane-sliders .panel_content .panelform{background-color: #FFF;padding: 10px;margin: 0;border: 0;}
.pane-sliders textarea{	padding: 3px;font-family: sans-serif;} 
.pane-toggler-down span {background: url(../images/j_arrow_down.png) 5px 1px no-repeat;padding-left: 20px;}
.pane-sliders .title_option {color: #1881B4;font-size: 14px;font-weight: bold;padding-bottom: 10px;padding-top: 5px;}

.cpanel-left {float: left;width: 54%;}
.cpanel-left .icon { float: left; margin-bottom: 15px;margin-right: 15px;text-align: center;}
.cpanel-left .icon a{-moz-transition-duration: 0.8s;-moz-transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow; background-color: #FFFFFF;background-position: -30px 50%; border: 1px solid #CCCCCC; border-radius: 5px 5px 5px 5px; color: #565656; display: block; float: left; height: 97px;text-decoration: none;vertical-align: middle;width: 108px;}
.cpanel-left .icon a:hover{background: #E8F6FE;}
.cpanel-left span {display: block;text-align: center;font-size: 11px;}
.cpanel-left img { margin: 0 auto;padding: 10px 0;}
.cpanel-right {float: right;width: 45%;}
.cpanel-right .adminlist {border: 0 none;font-size: 11px;background-color: #F3F3F3;border-spacing: 1px;color: #666666; width: 100%;}
.cpanel-right .adminlist th {background: #F7F7F7;border: 1px solid #EFEFEF;color: #666666;text-align: left;font-size: 12px; font-weight: normal;}
.cpanel-right .panel{border:0px solid #EFEFEF;}
.cpanel-right .panel_content{border:0px solid #EFEFEF;}
.cpanel-right .panel .title{height: 30px; line-height: 30px;border: 1px solid #EFEFEF; border-bottom: none; text-transform: uppercase;}

.privileges .div_title{margin: 10px 0 0;}
.privileges label {margin: 5px 0 5px 20px;min-width: 220px;float: left;}

.pagination {display: table;padding: 0;margin: 0 auto;}
.pagination .limit {float: left;height: 22px;line-height: 22px;margin: 0 10px;}

.button1,.button1 div {height: 1%;float: right;}
.button2-left,.button2-right,.button2-left div,.button2-right div {float: left;}
.button1 {background: url(../images/j_button1_left.png) no-repeat;white-space: nowrap;padding-left: 10px;margin-left: 5px;}
.button1 .next {background: url(../images/j_button1_next.png) 100% 0 no-repeat;}
.button1 a {display: block;height: 26px;float: left;line-height: 26px;font-size: 12px;font-weight: bold;color: #333;cursor: pointer;padding: 0 30px 0 6px;}
.button1 a:hover {text-decoration: none;color: #0B55C4;}
.button2-left a,.button2-right a,.button2-left span,.button2-right span{display: block;height: 22px;float: left;line-height: 22px;font-size: 11px;color: #333;cursor: pointer;}
.button2-left span,.button2-right span {cursor: default;color: #999;}
.button2-left .page a,.button2-right .page a,.button2-left .page span,.button2-right .page span,.button2-left .blank a,.button2-right .blank a,.button2-left .blank span,.button2-right .blank span{padding: 0 6px;}
.page span,.blank span {color: #000;font-weight: bold;}
.button2-left a:hover,.button2-right a:hover {text-decoration: none;color: #025A8D;}
.button2-left a,.button2-left span {padding: 0 24px 0 6px;}
.button2-right a,.button2-right span {padding: 0 6px 0 24px;}
.button2-left {background: url(../images/j_button2_left.png) no-repeat;float: left;margin-left: 5px;}
.button2-right {background: url(../images/j_button2_right.png) 100% 0 no-repeat;float: left;margin-left: 5px;}
.button2-right .prev {background: url(../images/j_button2_prev.png) no-repeat;}
.button2-right.off .prev {background: url(../images/j_button2_prev_off.png) no-repeat;}
.button2-right .start {background: url(../images/j_button2_first.png) no-repeat;}
.button2-right.off .start {background: url(../images/j_button2_first_off.png) no-repeat;}
.button2-left .page,.button2-left .blank {background: url(../images/j_button2_right_cap.png) 100% 0 no-repeat;}
.button2-left .next {background: url(../images/j_button2_next.png) 100% 0 no-repeat;}
.button2-left.off .next {background: url(../images/j_button2_next_off.png) 100% 0 no-repeat;}
.button2-left .end {background: url(../images/j_button2_last.png) 100% 0 no-repeat;}
.button2-left.off .end {background: url(../images/j_button2_last_off.png) 100% 0 no-repeat;}
.button2-left .image {background: url(../images/j_button2_image.png) 100% 0 no-repeat;}
.button2-left .readmore {background: url(../images/j_button2_readmore.png) 100% 0 no-repeat;}
.button2-left .pagebreak {background: url(../images/j_button2_pagebreak.png) 100% 0 no-repeat;}
.button2-left .blank {background: url(../images/j_button2_blank.png) 100% 0 no-repeat;}

.btnMedia {background: url("../images/bg1px.gif") repeat-x scroll 0 0 transparent;border-radius: 5px 5px 5px 5px;color: #FFFFFF !important;font-size: 12px;height: 27px;line-height: 25px;margin-left: 5px;padding: 4px 10px;}
.btnMedia:hover{background: url(../images/bg1px.gif) repeat-x 30px;text-decoration: none;}

/* Login */
.block_login{width: 520px;margin: 50px auto 100px !important;color: #000;border: 1px solid #CCC; padding: 10px;}
.block_login h1{color: #025A8D;font-size: 20px;margin: 5px 0 20px;text-align: center;text-transform: uppercase;font-family: tahoma;}
.block_login .section-box {background-color: #F4F4F4;float: right;margin:0 10px;width: 320px; border: 1px solid #CCC; padding: 5px;}
.block_login .loginform{color: #000;}
.block_login .loginform td{padding: 5px;}
.block_login select{width: 176px;}
.block_login .txt_text{width: 170px;}
.block_login .btn_login{ padding: 3px 5px; margin: 0;background: #E8F6FE;}
.block_login .btn_login:hover{background: #7aceff;cursor: pointer;}
.block_login p{margin: 0 0 15px 10px;line-height: 150%;}
.lock {background: url("../images/j_login_lock.png") no-repeat scroll 50% 0 transparent;height: 137px;width: 150px;}

/*----------errors------------*/
.errors{border: solid 1px #ff8383;padding: 7px 10px;background-color: #ffcaca;font-size: 12px;margin: 0 0 10px;color: #f00000;line-height: 150%;_border: 1px solid rgb(255, 255, 255);-webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;border-radius: 10px 10px 10px 10px;}
.errors li{list-style-position:inside;}
.message{color: #0055BB;font-weight: bold;text-indent: 30px;border-bottom: 3px solid #84A7DB;border-top: 3px solid #84A7DB;margin-bottom: 10px;padding: 10px;background: #C3D2E5 url("../images/notice-info.png") no-repeat 5px;}

.result_comment{ padding: 0; margin: 0; text-align: right;}
.result_comment a{}
.item_result{ padding: 0 0 5px 40px; margin-top: 2px;}
.item_result .title{border-top: 1px solid #EFEFEF; padding: 5px 0; color: #FC9F35;}
.item_result .content{color: #666; border: none; padding: 0;}

.width-45 {width: 45%;}
.width-55 {width: 55%;}
.width-50 {width: 50%;}
.width-70 {width: 70%;}
.width-30 {width: 30%;}
.width-60 {width: 59%;}
.width-40 {width: 40%;}

.clr,.clear{ clear:both;}
.clearfix:after {clear: both;content: " ";display: block;font-size: 0;height: 0;line-height: 0;visibility: hidden;width: 0;}
.bgtrang{ background:#FFF;}
.fl{ float:left !important;}
.fr{ float:right !important;}
.pd0{ padding:0 !important;}
.pdl3{ padding-left:3px !important;}
.pdr3{ padding-right:3px !important;}
.pdr5{ padding-right:5px !important;}
.pd3{ padding:3px !important;}
.pd5{ padding:5px !important;}
.pd10{ padding:10px !important;}
.pd20{ padding:20px !important;}
.pdt3{ padding-top:3px !important;}
.pdt5{ padding-top:5px !important;}
.pdt15{ padding-top:15px !important;}
.pdb5{ padding-bottom:5px !important;}
.pdl5{ padding-left:5px !important;}
.pdt10{ padding-top:10px !important;}
.pdr10{ padding-right:10px !important;}
.pdb10{ padding-bottom:10px !important;}
.mrb10{ margin-bottom:10px !important;}
.pdl10{ padding-left:10px !important;}
.pdl15{ padding-left:15px !important;}
.pdl20{ padding-left:20px !important;}
.pdl10{ padding-left:10px !important;}
.mrt10{ margin-top:10px !important;}
.red,.do{ color: red !important;}
.vang{ color: yellow !important;}
.xanh{ color: #146295;}

.formLoading{width: 150px;height: 100px;margin: 0 auto;	display: none;background: #FFF url(../images/loading2.gif)no-repeat center center;position: fixed;z-index: 10000;left: 45%;top:40%;	/* opacity: 0.5; */	border: 1px solid #1D86BA;border-radius:5px 5px 5px 5px}
.formLoading .loading{}

.result_comment{ padding: 0; margin: 0; text-align: right;}
.result_comment a{}
.item_result{ padding: 0 0 5px 40px;}
.item_result .title{border-top: 1px solid #EFEFEF; padding: 5px 0; color: #FC9F35;}
.item_result .content{color: #666;}
.gi {color: #D7D7D7;font-weight: bold;margin-right: 5px;}

.tabs-nav{ margin: 0; padding: 0; list-style: none;}
.tabs-nav li{ float: left;}
.tabs-nav li a{ padding: 7px 15px 6px 15px; background: url(../images/tab.png) repeat-x; margin-left: 5px; display: inline-block; font-weight: bold;border-top: 1px solid #DDD;border-left: 1px solid #DDD;border-right: 1px solid #DDD; color: #000;}
.tabs-nav li a:hover{ background: #FFF; color: #000; text-decoration: none;}
.tabs-nav li a.selected{ background: #FFF; color: #000;}
.tabs{ display: none;}

.txtshort {height: 16px;width: 100px;}
.txtlong {height: 16px;width: 400px;}
.txtmedium{width: 250px;height: 16px;}
.txtshort{width: 100px;height: 16px;}
.txtfile{width: 321px;height: 16px;}

.goc3{
	_border: 1px solid rgb(255, 255, 255);
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
.goc5{
	_border: 1px solid rgb(255, 255, 255);
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.goc10{
	_border: 1px solid rgb(255, 255, 255);
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
.goc7{
	_border: 1px solid rgb(255, 255, 255);
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}
.goct10{
	_border: 1px solid rgb(255, 255, 255);
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
.gocb10{
	_border: 1px solid rgb(255, 255, 255);
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

.opacity01{background: rgb(0, 0, 0) ; opacity: 0.1;}
.opacity02{background: rgb(0, 0, 0) ; opacity: 0.2;}
.opacity03{background: rgb(0, 0, 0) ; opacity: 0.3;}
.opacity04{background: rgb(0, 0, 0) ; opacity: 0.4;}
.opacity05{background: rgb(0, 0, 0) ; opacity: 0.5;}
.opacity06{background: rgb(0, 0, 0) ; opacity: 0.6;}
.opacity07{background: rgb(0, 0, 0) ; opacity: 0.7;}
.opacity08{background: rgb(0, 0, 0) ; opacity: 0.8;}
.opacity09{background: rgb(0, 0, 0) ; opacity: 0.9;}
.opacity10{background: rgb(0, 0, 0) ; opacity: 1;}




