@charset "utf-8";

/* System */
body,p,table,tr,td,dt,dl,form,h1,h2,h3,h4,h5,h6,h7{ margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; font-size:12px;}
a, a:link, a:visited {color: #008bcd;text-decoration:none;}
a:hover, a:active, a:focus{color:#333333;}
img{ border:0 none;}
table{ border-collapse:collapse;}

/* Content */
.body{width: 100%; height: 100%;}
.width_wrapper{ width: 1000px; margin: 0 auto;}
.content{}

/* noAccess */
.noAccess{ text-align: center; margin-top: 100px; background: url("../images/no_access.jpg") no-repeat top center; padding-top: 220px; font-size: 16px; color: red;}
.error{ text-align: center; margin-top: 100px; background: url("../images/PageNotFound.jpg") no-repeat top center; padding-top: 350px; font-size: 16px; color: red;}
.off{ text-align: center; margin-top: 100px; background: url("../images/off.png") no-repeat top center; padding-top: 300px; font-size: 16px; color: red;}